@font-face {
    font-family: 'CirceRounded';
    src: url('~static/fonts/CirceRounded-Regular.woff2') format('woff2'),
      url('~static/fonts/CirceRounded-Regular.woff') format('woff'),
      url('~static/fonts/CirceRounded-Regular.ttf') format('truetype');
}


body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: #000000;
    font-family: 'CirceRounded';
    font-weight: bold;
    background-color: #f2f3f7;
}